@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-ExtraLightItalic.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-ExtraLight.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-SemiBold.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-Bold.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Glory" ;
  src: url("assets/fonts/Glory/static/Glory-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
